footer{
    height: 315px;
    width: 100%;
    background-color: #f8f8f8;
    color: #292929;
    box-sizing: border-box;
    border-top: 1px solid #e1e0e0;
       
}
.footer_content{
    width: 100%;
    max-width: 980;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

footer .logo_container{
    margin: auto;
    margin-top: 80px;
    font-size: 40px;
}

.footer_text{
    margin: auto;
    margin-top: 32px;
    width: 524px;
    height: 13px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.39px;
}

.footer_text span:hover{
    cursor: pointer;
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.media_buttons{
    margin: auto;
    margin-top: 38px;
}

.media_buttons button{
    color: #ffffff;
    background-color:#e5e5e5;
    cursor:pointer;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

.media_buttons button:hover {
    background-color:#516fad;
}
.media_buttons button:active {
    position:relative;
    top:1px;
}

.footer_text span{
    font-weight: bold;
}

@media (max-width: 970px){
    .footer_text{
        max-width: 100%
    }

}
    
@media (max-width: 640px){
    .footer_text{
        max-width: 100%
    }
    
}


