
table{
    padding: .3em;
    margin:3em auto;
    border: 10px solid darkblue;
    border-radius: 10%;
    background-color: blue
}
td {
    border: 10px solid lightblue;
    border-radius: 30%;
    padding: .3em;
    text-align: center;
    border: 2px solid black;
    height: 3em;
    width : 2em;
    text-align: center;
    background-color: lightblue;

}
.outPut{
    border-radius: 15%;
    font-family:'Times New Roman', Times, serif;
    font-size: 2em; 
    width : 20px;
    height: 3em;
}

td:active{
    background-color: lightgreen;
}