body{
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.header {
    display: block;
    justify-content: space-around;
    flex: 100%;
    background-color: lightblue;
    padding: 20px;
    border-bottom: 10px solid darkcyan;
    color:darkcyan;
    font-size: 1.5em;
    text-align: center;
    min-width: 300px;
}
/* .header h1{
    /* width: 100px; */
    /* background-color: rebeccapurple; */
/* } */ 

.header img {
    float:right;
}

/* .card {
    background-color: pink;
    height: 165px;
    width: 165px;    
    float: left;
    margin: 5px;

}

.card img {
    position: absolute;
}

.flipped .back {
    display: none;
}
 */
 main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

main > .board {
    margin: 4px;
    padding: 5px;
    border: 1px solid #838322;
    border-radius: 7px;
    background: #9dcfb0;
    flex: 3 1 80%;
    order: 2;
    
}

main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7px;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
}

.board{
    
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
    
}

li{
    margin: 15px 0px;
    list-style: none;
}

input{
    /* height: 2em; */
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    /* max-width: 50%; */
    margin: 15px -20% 15px 0px;

}
.container {
    width: 165px;
    max-width: 165px;
    height: 165px;
    margin: 10px 10px 30px;
    perspective: 800px;
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: 1 1 auto;
    transition: height,width 3s ease-out;
    
  }
  
  .container :hover {
      height: 103%;
      width: 103%;
  }

  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
    /* display:flex; */
  }

  .card.flipped {
        transform: rotateY( 180deg );
  }

  .card img {
    display: block;
    height:100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    backface-visibility: hidden;
  }


  .card .back {
    transform: rotateY( 180deg );
    height: 100%;
    width: 100%;
  }

  footer {
      width: 100%;
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #eebb55;
    border-radius: 7px;
    background: #ffeebb;
}

.gameData{
font-size: 2em;
font-family: Arial, Helvetica, sans-serif;
color: darkcyan;
}

   /* Too narrow to support three columns */
   @media all and (max-width: 640px) {
    
                main {
                    /*flex-flow: column;*/
                    flex-direction: column;
                }
    
                main > .board, main > aside {
                    /* Return them to document order */
                    order: 0;
                }
                main > nav {
                    order: -1;
                }
    
                main > nav, header, footer {
                    min-height: 80px;
                    max-height: 80px;
                }
            }